  /*
  *{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  */

  #header {
     text-align: center;
     background-color: #579f79;
     /* background-color: #45498d;*/
     padding: 20px;
     margin-bottom: 20px;
  }


  #header h1 {
     color: #000000;
     font-size: 1.8rem;
     font-weight: bold;
  }




  #container-btn {
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: #579f79;
     padding: 20px;
     margin-bottom: 20px;
  }




  #container-list {
     display: none;
     height: auto;
     padding-bottom: 140px;
     padding: 10px;
  }





  #header-list,
  #header-report {
     height: auto;
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: #579f79;
     padding: 20px;
     margin-bottom: 5px;
  }


  #container-alert,
  #content-btn {
     width: 60%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     /*background-color: #52536d;*/
     background-color: #579f79;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-bottom: 10px;
  }


  #ref-alert {
     width: 30%;
     display: block;
     padding: 10px;
     background-color: #579f79;
  }

  #ref-alert p {
     width: auto;
     padding: 10px;
     background-color: #757f81;
  }

  #warning-alert {
     width: 30%;
     display: block;
     padding: 10px;
     background-color: #579f79;
  }

  #warning-alert p {
     width: auto;
     padding: 10px;
     background-color: #177283;
  }


  /*
   #content-btn {
         width: 60%;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         background-color: #579f79;
         padding: 20px;
        / margin-bottom: 20px;/
   }
   */

  /*
      #content-btn {
         width: auto;
         height: auto;
         
         display: flex;
         flex-direction: row;
         background-color: #eaeaf5;
         justify-content: space-between;
        
        
         padding: 5px;
         border-radius: 8px;

         background-color: #790606;
      }
      */

  input,
  a {
     padding: 10px;
     border: 2px solid #177283;
     border-radius: 8px;
     background-color: #d1c8f3;
     color: #14121b;
     cursor: pointer;
     text-decoration: none;
  }

  /*
      a{
         padding: 10px;
         border: 2px solid #177283;
         border-radius: 8px;
         background-color: #d1c8f3;
         color: #14121b;
         text-decoration: none;
      }
     */






  #search-report {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     /*background-color: #52536d;*/
     background-color: #579f79;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-bottom: 10px;
  }







  #search-battery {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 'auto';
     padding: 10px;
     background-color: #579f79;
  }



  #search-radio {
     width: 20%;
  }



  #search-input {
     width: 20%;
  }
















  #container-report {
     display: none;
     height: auto;
     /*
         display: block;
         flex-direction: row;
         justify-content: space-between;
         background-color: #e7e7f7;
         */
     margin-top: 20px;
     padding-bottom: 140px;
  }

  
  #select-battery {
     padding: 10px;
     
  }
  


  /*
      #container-search{        
         height: auto;
         width: auto;
         /
         display: block;
         flex-direction: row;
         justify-content: space-between;
         background-color: #e7e7f7;
         /
         margin-top: 20px;
         padding-bottom: 140px;         
      }

      
      #header-search{
          display: flex;
        justify-content: space-between;
        background-color: #c7c6f1;       
        padding: 10px;
      }

      #content-search{
       / display: block;        /
        background-color: #9392f0;
        padding: 10px;       
      }


      .card{       
        display: flex;
        justify-content: space-between;
        background-color: #c7c6f1;       
        padding: 10px;
      }
     */






  #title-list,
  #title-report {
     text-align: center;
     color: rgb(19, 18, 18);
     font-size: 1.2rem;
  }



  #container-table {
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin-bottom: 20px;
  }







  table {
     border-collapse: collapse;
     margin: 0;
     width: 100%;
     box-shadow: 0 0 5px rgb(19, 18, 18);
  }


  /*
     table tr{
      background-color: #cae4ec;
     }
    */

  thead th {
     color: #9a9bb8;
     font-size: 1.15em;
  }



  /*
     tbody tr:nth-child(even){
       border-top: 1px solid #20100f;  
     }
     */




  table th,
  table td {
     font-size: 1em;
     padding: 1em;
  }

  thead th {
     color: #18152c;
     font-size: 1.15em;
  }







  @media (max-width:440px) {

     /*
      table{
          border: 3px solid #c01104; 
      }
      */
     table thead tr {
        display: none;
     }

     table tr {
        display: block;
     }



     table th,
     table td {
        padding: .5em;
     }



     table tbody {
        border: 5px solid #c01104;
     }


     table td {
        border: none;
     }



     table td {
        text-align: right;
        display: block;
        font-size: 1em;
     }

     table td::before {
        content: attr(data-title) ": ";
        float: left;
     }


     tbody tr:nth-child(even) {
        border-top: 5px solid #c01104;
     }

     /*
      tbody tr:nth-child(even){
          background-color: #387777;
          color: #dedef3;

          border: 5px solid #c01104; 
      }
      */

  }







  #footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: #9a9bb8;
     padding: 20px
  }