  /*
  *{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  */

  #header {
     text-align: center;
     background-color: #579f79;   
     padding: 20px;
     margin-bottom: 5px;
  }



  #header h1 {
     color: #000000;
     font-size: 1.8rem;
     font-weight: bold;
  }



  #container-btn {
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: #579f79;
     padding: 20px;
     margin-bottom: 5px;
  }



  #container-list {
     display: none;
     height: auto;
     padding-bottom: 140px;
     padding: 10px;
  }



  #header-list,
  #header-report {
     height: auto;
     width: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: #579f79;
     padding: 20px;
     margin-bottom: 5px;
  }


  #content-btn {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: #579f79;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-bottom: 5px;
  }



  #container-alert {
     width: auto;
     display: flex;
     flex-direction: column;     
     margin-bottom: 5px;
  }



  #warning-alert {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
  }



  #warning-alert p {
     width: auto;
     padding: 10px;
     background-color: #646b6d;
     margin-right: 10px;
     text-align: center;
  }



  input,
  a {
     padding: 10px;
     border: 2px solid #177283;
     border-radius: 8px;
     background-color: #d1c8f3;
     color: #14121b;
     cursor: pointer;
     text-decoration: none;
  }



  #search-battery {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 'auto';
     padding: 10px;
     background-color: #579f79;
  }


  #search-radio, #search-input{
     width: 20%;
  }

 

  #search-report {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: #579f79;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-bottom: 10px;
  }




  #container-chart {
     height: auto;
     width: auto;
     padding-left: 200px;
     padding-right: 200px;
     padding-top: 50px;
     padding-bottom: 50px;
  }




  #container-report {
     display: none;
     height: auto;
     margin-top: 20px;
     padding-bottom: 140px;
  }



  #select-battery {
     padding: 10px;
     border-radius: 6px;
  }




  #title-list,
  #title-report {
     text-align: center;
     color: rgb(19, 18, 18);
     font-size: 1.2rem;
  }



  #container-table {
     display: flex;
     flex-direction: column;
     padding: 10px;
     margin-bottom: 5px;
  }



  table {
     border-collapse: collapse;
     margin: 0;
     width: 100%;
     box-shadow: 0 0 5px rgb(19, 18, 18);
  }




  thead th {
     color: #9a9bb8;
     font-size: 1.15em;
  }




  table th,
  table td {
     font-size: 1em;
     padding: 1em;
  }

  thead th {
     color: #18152c;
     font-size: 1.15em;
  }




  tbody td {
     text-align: center;
  }




  @media (max-width:440px) {

     #search-battery,
     #search-report {
        flex-direction: column;
        align-items: center;
     }

     #search-radio,
     #search-input {
        width: auto;
        margin-bottom: 5px;
     }

     table thead tr {
        display: none;
     }

     table tr {
        display: block;
     }

     table th,
     table td {
        padding: .5em;
     }


     table tbody {
        border: 2px solid #0f0f0f;
     }


     table td {
        border: none;
        text-align: right;
        display: block;
        font-size: 1em;
     }


     tbody td {
        text-align: right;
     }


     table td::before {
        content: attr(data-title) ": ";
        float: left;
     }

     tbody tr:nth-child(even) {
        border-top: 2px solid #0f0f0f;
        border-bottom: 2px solid #0f0f0f;
     }


     #container-chart {
        height: auto;
        width: auto;
        padding: 20px;
     }

     #container-list,
     #container-report {
        margin-bottom: 10px;
        padding-bottom: 10px;
     }



  }







  #footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: #579f79;
     padding: 20px;
  }